<h1 style="text-align: center;">Tic-Tac-Toe</h1>
<h2 style="text-align: center;">{{currentPlayer}}'s Turn</h2>

<div class="board" style="border-collapse: collapse;">
  <div class="row" *ngFor="let row of board; let x = index">
    <div class="cell" *ngFor="let cell of row; let y = index" (click)="makeMove(x, y, cell)">
      {{ cell }}
    </div>
  </div>
</div>

<div [ngSwitch]="gameState">
  <div *ngSwitchCase="'WON'" class="message">
    <h2 style="text-align: center;">Game won by {{ winner }}!</h2>
  </div>
  <div *ngSwitchCase="'LOST'" class="message">
    <h2 style="text-align: center;">Game lost!</h2>
  </div>
  <div *ngSwitchCase="'DRAW'" class="message">
    <h2 style="text-align: center;">Game tied!</h2>
  </div>
</div>

<div class="reset-button">
  <button mat-raised-button color="primary" (click)="reset()">Reset</button>
</div>