.board {
    border: solid 2px black;
    margin: 0px auto;
}

.row {
    display: table-row;
}

.cell {
  width:136px;
	height:136px;
	display:table-cell;
	background-color:#ccc;
	border-bottom:1px solid #999;
	border-right:1px solid #999;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
	cursor:pointer;
}

.mat-icon-button {
    background-color: blue;
    border-color: black;
    &:hover {
      background-color: red;
      border-color: yellow;
    }
    &:active {
      background-color: purple;
      border-color: pink;
    }
    &:focus {
      background-color: green;
      border-color: orange;
    }
  }
  