<div class="blackjack">
    <div>
        <p>Your current card total: {{roundTotal}}</p>
        <button (click)="drawCard()" [disabled]="allowBetting()">
            <img src="../assets/blue_deck.png"/>
            <p>Draw Card</p>
        </button>
    </div>
    <div class="player">
        <h2 style="text-align: center;">Round Winner: {{winner}}</h2> 
        <app-playing-cards></app-playing-cards>
        <div class="betting">
            <div class="betChange">
                <button (click)="decreaseBet()" [disabled]="allowBetting()">-</button>
                <p>Bet: {{currentBet}}</p>
                <button (click)="increaseBet()" [disabled]="allowBetting()">+</button>
            </div>
            <div>
                <h2 style="text-align: center;">Your money: {{totalMoney}}</h2> 
            </div>
            <button mat-raised-button color="primary" (click)="stand()" [disabled]="allowBetting()">Stand</button>
        </div>
    </div>
    
    <div class="bettingPool">
        <h2 style="text-align: center;">Pool:</h2>
        <h2 style="text-align: center;">{{bettingPool}}</h2>
    </div>
    
    <div class="dealer">
        <img src="../assets/red_card_back.png"/>
        <p>Dealer's bet: {{dealerBet}}</p>
    </div>
</div>


<div>
    <button mat-raised-button color="primary" (click)="gameReset()" [disabled]="showPlayAgain()">Play Again</button>
</div>

