.war {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.card_count{
    text-align: center;
}

.card_count p {
    position: absolute;
    font-size: large;
    margin-top: 50px;
    margin-left: 10px;
}

img {
    margin: auto;
    width: 150%;
}