<div class="war">
    <div class="card_count">
        <p>Num cards: {{cardCount_p}}</p>
        <img src="../assets/blank_deck.png"/>
    </div>
    <button [disabled]="ableDrawCard()" (click)="drawCard()">
        <img src="../assets/blue_deck.png"/>
        <p>Draw Card</p>
      </button>
    <app-playing-cards #pCard></app-playing-cards>
    
    <div class="round_stuff">
        <h2>Round Winner: {{roundwinner}}</h2>
        <button mat-raised-button color="primary" [disabled]="goToWar()" (click)="handleTie()">Go to war!</button>
    </div>

    <app-playing-cards #npcCard></app-playing-cards>
    <div class="card_count">
        <p> Num cards: {{cardCount_npc}}</p>
        <img src="../assets/blank_deck.png"/>
    </div>
</div>

